* {
  font-family: Rubik;
}

a:link,
a:visited {
  color: black;
}

.navbar-nav a:link {
  margin-left: 25px;
}

a:hover {
  color: #9ea9f0;
}

.navbar {
  background-color: white;
  opacity: 0.9;
  padding: 15px 300px;
}

.navbar-nav {
  width: 100%;
}

li.nav-item a:link,
li.nav-item a:visited {
  color: black;
}

li.nav-item a:hover {
  color: #9ea9f0;
}

.project-img a:hover {
  /* outline: 2px solid #9ea9f0; */
}

.name {
  color: #9ea9f0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
  text-align: left;
}

.intro-para {
  padding: 1% 10%;
}
.icon-img {
  margin-right: 10px;
}

#home {
  padding: 18% 16% 5%;
}
.project-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
}

.project-info {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: center;
}

.section-title {
  padding: 8% 0 2% 0;
  text-align: center;
}

hr {
  border: none;
  height: 10px;
  background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px,
    linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
  background-color: #fff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  padding: 1% 0%;
}

.fa-5x {
  font-size: 13em;
  text-align: center;
  width: 100%;
  padding: 5%;
}

.fa-4x {
  color: #9ea9f0;
  text-align: center;
  width: 100%;
}

.fa-3x {
  font-size: 8em;
}

.contact-icon {
  text-align: center;
  width: 100%;
  padding: 1% 1%;
}

footer {
  text-align: center;
  padding-top: 6%;
}
