* {
	font-family: Cabin;
}

a:link, a:visited {
	color: black;
}

a:hover {
	color: turquoise;
}

.navbar {
	margin: 0 5%;
	background-color: white;
	border-bottom: 2px solid turquoise;
	opacity: 0.9;
}

.navbar-nav {
	width: 100%;
}

li.nav-item a:link, li.nav-item a:visited {
	color: black;
	text-decoration: underline;
	text-underline-position: under;
}

li.nav-item a:hover {
	color: turquoise; 
	outline: 1px solid turquoise;
	text-decoration: underline;
	text-underline-position: under;
}

.project-img a:hover {
	outline: 2px solid turquoise;
}

h1 span{
	color: turquoise;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
	text-align: center;
}

.intro-para {
	padding: 1% 10%;
}
.icon-img {
	margin-right: 10px;
}

#home {
	padding: 15% 12% 0%;
	/*height: 100vh;*/
}

/*#skills {
	height: 100vh;
}

#projects {
	height: 100vh;
}

#contact {
	height: 100vh;
}*/

.project-img img {
	width: 100%;
}

.project-info {
	margin-top: 4%;
	margin-bottom: 4%;
	text-align: center;
}

.section-title {
	padding: 8% 0 2% 0;
	text-align: center;
}

hr {  
  border: none;
  height: 10px;
  background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, #8c8c8c 0) 0 5px;
  background-color: #fff;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  padding: 1% 0%;
}

.fa-5x {
	font-size: 13em;
	text-align: center;
	width: 100%;
	padding: 5%;
}

.fa-4x {
	color: turquoise;
	text-align: center;
	width: 100%;
}

.fa-3x {
	font-size: 8em;
}

.contact-icon {
	text-align: center;
	width: 100%;
	padding: 1% 1%;
}

footer {
	text-align: center;
	padding-top: 6%;
}
