* {
	font-family: Cabin;
}

.icon-img {
	margin-right: 10px;
	border-radius: 4px;
}

a:link {
	color: white;
}
a:visited {
	color: white;
}
ul.nav a:hover {
	color: pink; 
	outline: 1px solid pink;
}

.navbar {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
